<h1>This is a dealership</h1>
<p> The model of your car is here.</p>
<form action='/page2' method='get'>
      <div class='form-group'>
        <label for='field-name'>Your name</label>
        <input id='field-name' name='field-name' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn'>GO!</button>
    </form>





<!--
<form action="/page2" method="get">
  <button type="submit">CLICK ME</button>
</form> -->
