<h1>Enter Vehicle</h1>

<form action="/Car_entry" method="post">
  <label for="Model">What is the Model;?</label>
  <input id="Model" name="Model" type="text">
  <label for="price">What is the price?</label>
  <input id="Price" name="Price" type="number">
  <label for="Miles">How many miles</label>
  <input id="Miles" name="Miles" type="number">
  <button type="submit">Submit</button>
</form>
