<form action='/action_name' method='post'>
      <div class='form-group'>
        <label for='field-name'>Your name</label>
        <input id='field-name' name='field-name' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn'>Go!</button>
    </form>
